*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.main-header{
    background-color: #F63232;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}
.main-header h1{
    padding: 10px 15px;
    color: white;
    border-radius: 36px;
    border: 5px solid#ffff;
    display: inline-block;
}
.section-one{
    width: 100%;
}
.section-one img{
    width: 100%;
}
.section-one h1{
    position: absolute;
    z-index: 1;
    font-size: 70px;
    padding: 20px;
    left: 0;
    color: white;
    background-color: #FEB614;
    top: 40%;
}
.section-one h1 span{
    font-size: 130px;
}
.nav-navbar{
    /* position: fixed; */
    position: sticky;
    z-index: 10;
    top: 106px;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #F4F4F4;
}
.nav-navbar ul{
    white-space: nowrap;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
   
}
.nav-navbar ul li{
    display: inline-block;
    font-size: 25px;
   width: 250px;
  
}
.nav-navbar ul li a{
    text-decoration: none;
    color: #4B4B4B
}
.nav-navbar ul li a:hover{
    text-decoration: underline;
}
.nav-navbar .join{
    color: #F63232;
}
.main-section {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.main-section h1{
   
    font-size: 40px; 
    color: #F63232;
}
.main-section p{
    line-height: 2rem;
    color: #4B4B4B;
}
.main-section p::first-line{
    font-weight: bold;
    font-size: 1.2rem;
  }
.main-section .section-3 ul{
    text-align: center;
    white-space: nowrap; 
   margin: 60px;

}
.main-section .section-3 ul li{
    display: inline-block;
    width: 40%;
    list-style-type: none;
    position: relative;

}
.main-section .section-3 ul li img:hover{
top: -4px;
/* width: 25%; */
top: -4px;
opacity: 0.7;
}
.main-section .section-3 ul li img{
    max-width: 100%;
    margin-top: 20px;
}
.section-4{
    padding: 20px;
    background-color: #F4F4F4;
    text-align: center;
}
.section-4 h2{
    font-size: 30px;
}
.section-4 p{
    line-height: 1.2rem;
    font-size: 20px;
    color: #4B4B4B;
}
.section-4 input{
    margin-top: 30px;
    padding: 15px 50px;
    border-radius: 40px;
    border: 4px solid white;
}
.section-4 input ::placeholder{
    font-size: 15px;
}
.section-4 input:focus{
    border: 4px dashed #4B4B4B;
    outline: none;
  }
.section-4 input:valid{
    border: 4px solid #71d300;
  }
  footer{
    background: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
  }

  @media screen and (min-width: 1051px){
  
    .section-one h1{
      font-size: 40px;
    }
  
  }
  
  @media screen and (min-width: 700px) and (max-width: 1050px){
    .main-header{
      padding: 20px;
      text-align: center;
    
  }
  .section-one h1 span{
    font-size: 80px;
}
    .section-one h1{
      font-size: 25px;
      top: 20%;
      padding: 15px;
    }
    .nav-navbar ul li{
      font-size: 18px;
    }
    .nav-navbar{
      padding: 10px; 
  }
  .nav-navbar ul{
      width: 1000px;
     left: -20%;
     
  }
  .nav-navbar ul li{
      font-size: 20px;
     width: 150px;
    
  }
  
  }
  
  @media screen and (max-width: 700px){
  
    .section-one h1{
      font-size: 20px;
      position: relative;
      text-align: center;
    }
    .section-one h1 br{
      display: none;
    }
    .section-one h1 span{
      font-size: 1em;
    }
    .nav-navbar ul li{
      font-size: 18px;
    }
    .main-section .section-3 ul li{
      width: 100%;
      display: block;
      margin: 20px auto;
    }
  
  }
  
  @media screen and (max-width: 560px){
  
    .section-one h1{
      font-size: 20px;
      position: relative;
      text-align: center;
    }
    .section-one h1 br{
      display: none;
    }
    .section-one h1 span{
      font-size: 1em;
    }
    .nav-navbar ul li{
      display: block;
      margin: 12px 0;
    }
    .main-section h1{
      font-size: 36px;
    }
    header, .nav-navbar{
      position: relative;
      top: 0;
    }
    .main-header{
     
      padding: 15px;
    
  }
  .main-header h1{
      padding: 5px 10px;
  }
  
  }